.table-body {
  font-family: 'Open Sans', 'Segoe UI', Segoe, 'Segoe WP', 'Helvetica Neue', 'Roboto', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  margin: auto; }

.overview__greeting {
  font-size: 22px; }

.legend {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  bottom: -5px;
  border-radius: 50%; }
  .legend-upcoming {
    background-color: #ffa500; }
  .legend-current {
    background-color: #008000; }
  .legend-ramping {
    background-color: #f00; }

.project {
  margin-bottom: 15px;
  width: 100%; }
  .project__label {
    font-weight: 600; }

.project-header-upcoming {
  background-color: #ffa500; }

.project-header-current {
  background-color: #008000; }

.project-header-ramping {
  background-color: #f00; }

.project-header__title {
  padding: 5px;
  color: whiteSmoke; }
