html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/style/style.css', type='text/css')

  body
    div.container
      div.col-md-8.col-md-offset-2
        form#form.box(method="post", action="/submit", enctype="multipart/form-data")
          div#file.box__input
            input.box__file(type="file", name="excel-file", accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")

            label(for="file")
              a.choose-file.js-choose-file Choose a file
              span.box__dragndrop &nbsp;or drag it here

          div.box__filename.js-filename  

          button.box__button.btn.btn-primary(type="submit") Upload

    script(src='https://code.jquery.com/jquery-1.12.4.min.js', type='text/javascript', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
    script(src='/js/main.js', type='text/javascript')

        





