body {
  background-color: #E5EDF1;
}

.box {
  font-size: 1.25rem;
  background-color: #c8dadf;
  position: relative;
  padding: 100px 20px;
  margin-top: 5%;
  text-align: center;
  
  &.has-advanced-upload {
    outline: 2px dashed gray;
    outline-offset: -10px;

    .box__dragndrop {
      display: inline;
    }    
  }

  &.is-dragover {
    background-color: white;
    outline-offset: -20px;
    transition: background-color 300ms ease-in-out
  }

  input[type=file]{
    display: none;
  }

  &__button {
    margin-top: 5%;
    padding: 5px 50px;
  }

  &__filename {
    margin-top: 10px;
    color: gray;
  }

  &__label {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
  }

}

.upload-icon {
  width: 20%;
}


.choose-file {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}


